<mat-toolbar color="primary" class="navbar">
  <div class="nav-container">
    <div class="nav-brand">
      <mat-icon>restaurant</mat-icon>
      <span routerLink="/" class="brand-text">Recipe Portal</span>
    </div>
    
    <div class="nav-links" *ngIf="isLoggedIn">
      <button mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-button routerLink="/search">
        <mat-icon>search</mat-icon>
        Search
      </button>
      <button mat-button routerLink="/create-recipe">
        <mat-icon>add</mat-icon>
        Create Recipe
      </button>
      <button mat-button routerLink="/profile">
        <mat-icon>person</mat-icon>
        Profile
      </button>
    </div>

    <div class="nav-auth">
      <div *ngIf="!isLoggedIn" class="auth-buttons">
        <button mat-button (click)="openLoginDialog()">
          <mat-icon>login</mat-icon>
          Login
        </button>
        <button mat-raised-button color="accent" (click)="openRegisterDialog()">
          <mat-icon>person_add</mat-icon>
          Register
        </button>
      </div>
      
      <div *ngIf="isLoggedIn" class="user-menu">
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
          {{currentUser?.name}}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>person</mat-icon>
            Profile
          </button>
          <button mat-menu-item routerLink="/admin" *ngIf="authService.isAdmin()">
            <mat-icon>admin_panel_settings</mat-icon>
            Admin Panel
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>